/* Wrapper ========================================================================================================== */

.gls-wrapper {
  float:none;
  width: 100%;
}

@media screen and (min-width: 769px){
  .gls-wrapper {
    float:left;
    width: 50%;
    padding-left: 1.5vw;
  }
}

/* Title ============================================================================================================ */

.gls-wrapper h3.block-title {
  margin: 4rem auto 3rem;
}

/* Tabs ============================================================================================================= */

.gls-tabs {
  float:left;
  width: 100%;
}

.gls-tabs .gls-tab {
  float:left;
  width: 50%;
  font-size: 14px;
  text-align: center;
  padding: 16px;
  color: #172156;
  border: 1px solid #D4D9E3;
  cursor: pointer;
}

.gls-tabs .gls-tab.active {
  background: #172156;
  font-weight: bold;
  color: white;
  border: 1px solid #172156;
  cursor: default;
}

.gls-tabs .gls-tab:nth-child(1){
  border-radius: 5px 0 0 5px;
}

.gls-tabs .gls-tab:nth-child(2){
  border-radius: 0 5px 5px 0;
}

/* Global =========================================================================================================== */

.gls-services {
  float:left;
  width: 100%;
  font-size: 14px;
  color: #172156;
}

.gls-services a {
  color: #003BFB;
  cursor: pointer;
  text-decoration: none;
}

.gls-services a:hover {
  color: #FB003B;
  text-decoration: underline;
}

.gls-services a:hover svg g{
  fill: #FB003B;
}

.delivery-fee .amount > span {
  margin-right: 2px;
}



/*.container.active {*/
  /*background: #F0F3FF;*/
/*}*/



/* ================================================================================================================== */
/* Delivery Options ================================================================================================= */
/* ================================================================================================================== */

.gls-delivery-options .gls-delivery-option {
  border: 1px solid #D4D9E3;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  display: table;
  width: 100%;
}

.gls-delivery-options .gls-delivery-option input {
  display: table-cell;
  width: 25px;
}

.gls-delivery-options .gls-delivery-option label {
  font-size: 14px;
  cursor: pointer;
  font-weight :bold;
  display: table-cell;
  width: 100%;
}

.gls-delivery-options .gls-delivery-option label:hover {
  text-decoration: underline;
}

/* Sub delivery ===================================================================================================== */

.gls-sub-delivery-options .gls-sub-delivery-option {
  display: table !important;
  padding: 10px 0;
  width: 100%;
}

.gls-sub-delivery-options .gls-sub-delivery-option:nth-child(1) {
  display: none !important;
}

.gls-sub-delivery-options .gls-sub-delivery-option:nth-child(2) {
  margin-top: 10px;
}

.gls-sub-delivery-options .gls-sub-delivery-option input {
  display: table-cell;
  width: 25px;
}

.gls-sub-delivery-options .gls-sub-delivery-option label {
  font-weight: normal;
  display: table-cell;
  width: 75%;
}

.gls-sub-delivery-options .gls-sub-delivery-option .delivery-fee {
  display: table-cell;
  width:25%;
  text-align: right;
}

/* ================================================================================================================== */
/* Parcel Shops ===================================================================================================== */
/* ================================================================================================================== */

.gls-parcel-shops .gls-parcel-shop {
  border: 1px solid #D4D9E3;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  display: table;
  width: 100%;
}

.gls-parcel-shops .gls-parcel-shop input {
  width: 25px;
  display: inline;
}

.gls-parcel-shops .gls-parcel-shop label {
  width: 100%;
  display: inline;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.gls-parcel-shops .gls-parcel-shop label:hover {
  text-decoration: underline;
}

/* Address information */

.gls-parcel-shops .gls-parcel-shop .address-information {
  display: table;
  width: 100%;
  padding-left: 31px;
}

.gls-parcel-shops .gls-parcel-shop .address-information .street {
  display: table-cell;
  width: 50%;
  padding-right: 7px;
}

.gls-parcel-shops .gls-parcel-shop .address-information .city {
  display: table-cell;
  width: 30%;.
  padding-right: 7px;
}

.gls-parcel-shops .gls-parcel-shop .address-information .distance-meters {
  display: table-cell;
  width: 20%;
  text-align: right;
}

/* Business Hours */

.gls-parcel-shops .gls-parcel-shop .open-business-hours-link {
  display :block;
  padding-left: 31px;
  margin-top: 15px;
}

.gls-parcel-shops .gls-parcel-shop .open-business-hours-link.active {
  display :none;
}

.gls-parcel-shops .gls-parcel-shop .table.container {
  border: 1px solid #D4D9E3;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  display: table;
  width: 100%;

  /*opacity: 0;*/
  /*transition: 0.2s opacity 0s ease-in-out, 0.3s transform ease-in-out;*/
  /*transform: scale(0);*/
}

/*.gls-parcel-shops .gls-parcel-shop .table.container.active {*/
  /*opacity: 1;*/
  /*transform: scale(1);*/
  /*transition: 0.2s opacity 0.1s ease-in-out, 0.3s transform ease-in-out;*/
/*}*/

.gls-parcel-shops .gls-parcel-shop .table.container .row {
  display :table !important;
  width: 100%;
  padding-bottom: 3px;
}

.gls-parcel-shops .gls-parcel-shop .table.container .row:nth-child(1){
  display :none !important;
}

.gls-parcel-shops .gls-parcel-shop .table.container .row .cell{
  display :table-cell;
}

.gls-parcel-shops .gls-parcel-shop .table.container .row .cell.day-of-the-week {
  width: 30%;
  padding-right: 7px;
}

.gls-parcel-shops .gls-parcel-shop .table.container .row .cell.opening-hours {
  width: 70%;
}

/* Close */

.gls-parcel-shops .gls-parcel-shop .table.container {
  position: relative;
}

.gls-parcel-shops .gls-parcel-shop .table.container .close {
  position: absolute;
  right: 15px;
  top: 12px;
}

.gls-parcel-shops .gls-parcel-shop .table.container .close svg {
  display :inline;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: -4px;
}




